<mat-card *ngIf="character">
  <mat-card-content>
    <h2>{{character.archetype.name}}</h2>
    <mat-list role="list">
      <mat-list-item *ngFor="let stat of primaryStats">
        {{stat.name}} -- {{stat.points}}
      </mat-list-item>
    </mat-list>
    <mat-divider *ngIf="character.skills"></mat-divider>
    <mat-list role="list" *ngIf="character.skills">
        <mat-list-item *ngFor="let skill of character.skills">
          {{skill.name}} -- {{skill.points}}
        </mat-list-item>
      </mat-list>
  </mat-card-content>
</mat-card>