<h1>GORPSgen</h1>
<p>Welcome to GORPSgen!</p>
<p>To use the application try clicking the "Quiz List" option, selecting the sample quiz, and playing through the response.
   It will generate a character sheet for you. All your characters are stored under the "Characters" tab.
</p>
<h2>What the hell is a GORPS?</h2>
<p>
  GORPSgen is the /Generic Opinionated Role Playing System/ character generator. It is an "opinionated" character generator for GURPS, the tabletop roleplaying game. Rather than bombard you with all of the options required to make a GURPS character, GORPSgen gives you a quiz and autogenerates a sheet for you. It deliberately cuts down on the skill and advantage list to make it palatable to players from other systems, like DnD 5e.
</p>
<p>This app was built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>